<p id="notice"><%= notice %></p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>postal code:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong>address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>introduction:</strong>
  <%= @user.introduction %>
</p>

<% if @user.id == current_user %>
  <%= link_to t('views.common.edit'), edit_user_path(@user) %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
