<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= @report.body %>
</p>

<% if @report.user_id == current_user.id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>

<p></p>
<div>
  <%= render "shared/comment_form", model: @report_comment, model_name: 'report_comment', data_id: @report.id %>
</div>

<div>
  <% @comments.each do |comment| %>
    <strong>コメント:</strong>
    <p><%= comment.content %></p>
    <p>
      <% if comment.user.name %>
        <strong>名前:</strong>
        <%= comment.user.name %>
      <% else %>
        <strong>メールアドレス:</strong>
        <%= comment.user.email %>
      <% end %>
    </p>
    <strong>投稿日時:</strong>
    <p><%= comment.created_at.strftime("%Y/%m/%d %T") %></p>
  <% end %>
</div>
